Desafio7/flows-node-red-collection.json
[{"id":"56a0b5b9.13ddec","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e03ccf5e.ae66e","type":"mqtt-broker","z":"","name":"","broker":"tnt-iot.maratona.dev","port":"30573","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"56a0b5b9.13ddec","name":"","active":true,"console":"false","complete":"false","x":510,"y":80,"wires":[]},{"id":"af8cc21.076074","type":"mqtt in","z":"56a0b5b9.13ddec","name":"","topic":"tnt","qos":"2","datatype":"auto","broker":"e03ccf5e.ae66e","x":150,"y":280,"wires":[["c0185bff.82c5d8"]]},{"id":"c0185bff.82c5d8","type":"json","z":"56a0b5b9.13ddec","name":"","property":"payload","action":"","pretty":false,"x":300,"y":160,"wires":[["f2f2649a.0d0d98","7aec9dd.fbd5764"]]},{"id":"708af4de.b22c5c","type":"cloudant out","z":"56a0b5b9.13ddec","name":"","cloudant":"","database":"carlos-tnt-IoT","service":"carlos-node-red-mbtc-cloudant-1601336551979-89883","payonly":true,"operation":"insert","x":710,"y":300,"wires":[]},{"id":"7aec9dd.fbd5764","type":"function","z":"56a0b5b9.13ddec","name":"","func":"var cont = flow.get(\"cont\");\ncont++;\nif (cont<10000)\n    return msg;\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":240,"wires":[["708af4de.b22c5c"]]}]